.about__container {
  height: 100vh;
  display: grid;
  grid-template-rows: 80vh 5vh 80vh 5vh 80vh;
  position: relative;
  padding: 0 2rem;
}

.divideline {
  position: absolute;
  top: 80vh;
}
.experience {
  background-color: bisque;
}
.project {
  background-color: blueviolet;
}
.skill {
  background-color: brown;
}
h1 {
  font-size: 4rem;
  font-style: italic;
}
