.home__container {
  height: 100vh;
  
  display: grid;
  grid-template-columns: repeat(2,50vw);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro__container {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  animation: fadeIn 2s .5s backwards;
  animation-fill-mode: both;
  width: 500px;
  height: 504x;
  margin-bottom: 250px;
}

