.fact__container {
  display: flex;
  grid-template-columns: repeat(2, 50vw); 
  align-items: center;
  flex-direction: column;
}

.fact__container:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in;
}

.fun_fact_texts {
  line-height: 50px;
  width: 30%;
  font-size: 1.2rem;
}
